
#controls{
  /*height: 70px;*/
  /*border: 3px solid black*/

}

#charts{
  /*border: 3px solid black*/
}

#heatmap{
  width: 100%;
  /*height: auto;*/
  /*height: 720px;*/
  /*border: 1px dotted red;*/
}

.mainRowLabels{
  cursor: pointer;
  font-size: 1em;
  fill: #0c3298;
  -webkit-transition: font-size .5s, fill .5s, font-weight .5s;
  transition: font-size .5s, fill .5s, font-weight .5s;
}
.mainRowLabels:hover{
  font-weight: bold;
  font-size: 1.2em;
  fill: darkgreen;
}
.subRowLabels{
  font-size: 0.8em;
}
.saveButtons{
  margin-top: 5px;
}

.mainColLabels{
  cursor: pointer;
  font-size: 1em;
  fill: #0c3298;
  -webkit-transition: font-size .5s, fill .5s, font-weight .5s;
  transition: font-size .5s, fill .5s, font-weight .5s;
}
.mainColLabels:hover{
  font-weight: bold;
  font-size: 1.2em;
  fill: darkgreen;
}
.subColLabels{
  font-size: 0.8em;
}


.tick line{
  stroke: lightgrey;
  stroke-width: 1px;
}
path.domain{
  stroke: none;
}

.legendMoused{
  fill: white;
  stroke: white;
}

/*Slider*/
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EDEDED;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #C7C7C7;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #63AAC8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #63AAC8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
