

#outerClabels{
  height: 60px;
  /*border: 2px solid blue*/
}
#innerClabels{
  height: 140px;
  /*border: 2px solid green*/
}
#controls{
  height: 140px;
  /*border: 3px solid black*/
}
#country{
  height: 70px;
  border: 1px solid lightgrey;
}
#region{
  height: 70px;
  border: 1px solid lightgrey;
}
#GP{
  height: 70px;
  border: 1px solid lightgrey;
}
#moneyCount{
  height: 70px;
  border: 1px solid lightgrey;
}

#legendRow{
  height:60px;
}

#legend{
  height:60px;
  /*border: 3px solid black*/
}
#outerRlabels{
  height: 540px;
  /*border: 2px solid blue;*/
  text-align: right;
}
#innerRlabels{
  height: 540px;
  /*border: 2px solid green;*/
  text-align: center;
}
#heatmap{
  height: 540px;
  /*border: 1px dotted red;*/
}

.mainRowLabels{
  cursor: pointer;
  font-size: 14px;
  fill: #0c3298;
  -webkit-transition: font-size .5s, fill .5s, font-weight .5s;
  transition: font-size .5s, fill .5s, font-weight .5s;
}
.mainRowLabels:hover{
  font-weight: bold;
  font-size: 16px;
  fill: darkgreen;
}
.subRowLabels{
  font-size: 12px;
}

.mainColLabels{
  cursor: pointer;
  font-size: 14px;
  fill: #0c3298;
  -webkit-transition: font-size .5s, fill .5s, font-weight .5s;
  transition: font-size .5s, fill .5s, font-weight .5s;
}
.mainColLabels:hover{
  font-weight: bold;
  font-size: 16px;
  fill: darkgreen;
}
.subColLabels{
  font-size: 12px;
}


.tick line{
  stroke: lightgrey;
}
path.domain{
  stroke: none;
}

.legendMoused{
  fill: white;
  stroke: white;
}
